.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.login-form-group {
  margin-bottom: 15px;
}


.login-label {
  padding: 8px;
  width: 100%;
  font-weight: bold;
}


.login-input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-weight: bold;
  box-sizing: border-box;
  margin-top: 5px;
}

.login-button {
  padding: 10px 20px;
  background-color: #9A73B5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.login-button:hover{
  background-color: #ac8ac4;
}

.login-forgot-password,
.login-no-account {
  margin-top: 10px;
}

.login-forgot-password a{
  color: #9A73B5;
  text-decoration: none;
}

.login-forgot-password a:hover{
  text-decoration: underline;
}

.login-no-account a{
  color: #9A73B5;
  text-decoration: none;
}

.login-no-account a:hover{
  text-decoration: underline;
}

.login-logo{
  margin-bottom: 20px;
}

.login-form h1{
  margin-bottom: 20px;
}


.error-login-message{
  color: red;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
